*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
:root{
	--drak-violet:#1e172f;
	--section-one:#2e2550;
	--pink:#f41587;
	--pink-tranparent:#f4158885;
	--pink-dark:#c95590;
	--white-gray:#f5f5f5a1;
}
::selection{
	background: var(--pink);
	color: #F1F2F7;
}
body{
	background: #F1F2F7;
}
button{
	cursor: pointer;
	transition: .18s;
}
p{
	width: fit-content;
}
/*header*/
header{
	background-color: var(--drak-violet);
	color: white;
	display: flex;
	justify-content: space-around;
}
.nav_sect{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#nav_id{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
a{
	text-decoration: none;
	color: rgba(245, 245, 245, 0.856);
	font-weight: bold;
	font-size: 17px;
}
.nav_sect>button{
	background: linear-gradient(90deg, #ae00ff, #03a9f4);
	color: white;
	padding: 15px 20px;
	border: none;
	border-radius: 3px;
}
.nav_sect>button:active{
	background: linear-gradient(90deg, #03a9f4, #ae00ff);
}
/*section one*/
.section1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: whitesmoke;
}
.section1> section:nth-child(1){
	background-color: var(--section-one);
}
.section1> section:nth-child(1)> div {
	position: relative;
	left: 35%;
	top: 25%;
}
.section1> section:nth-child(1)> div > h1{
	font-size: 80px;
	width: 315px;
}
.section1> section:nth-child(1)> div > p{
	font-size: 20px;
	width: 450px;
}
.section1> section:nth-child(1)> div > button:nth-child(1){
	background-color: whitesmoke;
	color: var(--pink);
	border: none;
	padding: 12px 25px;
	border-radius: 3px;
	font-weight: bold;
}
.section1> section:nth-child(1)> div > button:nth-child(1):active{
	background-color: var(--pink-tranparent);
	color: whitesmoke;
	box-shadow: 10px 10px 10px var(--drak-violet);
}
.section1> section:nth-child(1)> div >button:nth-child(2){
	background-color: transparent;
	color: whitesmoke;
	padding: 10px 35px;
	outline: none;
	border: solid 2px whitesmoke;
	border-radius: 3px;
	font-weight: bold;
}
.section1> section:nth-child(1)> div > button:nth-child(2):active{
	background-color: var(--white-gray);
	color: var(--section-one);
	box-shadow: 10px 10px 10px var(--drak-violet);
}
.section1> section:nth-child(1)> div:nth-child(2){
	border: solid 2px rgba(255, 255, 255, 0.185);
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
	width:fit-content;
}
.section1> section:nth-child(2){
	background: url(../assets/images/hojasFondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter: grayscale(50%);
	height: auto;
	padding-bottom: 6%;
}
.section1> section:nth-child(2)> img{
	padding-top: 10%;
	padding-left: 20%;
	filter: contrast(1.4);
	width: 250px;
	transition: .5s;
}
.section1> section:nth-child(2)> img:hover{
	transform: scale(1.02);
}
/* Section 2 */
.section2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2%;
	justify-content: center;
}
.section2> h2{
	color: var(--pink);
	font-size: 50px;
}
.section2 > section{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2,1fr);
	padding: 5% 0;
	gap: 6%;
	width: fit-content;
}
.section2> section>section:nth-child(1){
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.section2> section>section:nth-child(1)>img{
	width: 70%;
	transition: .5s;
}
.section2> section>section:nth-child(1)>img:hover{
	transform: scale(1.02);
}
.section2>section> section:nth-child(2){
	color:rgb(85, 85, 85);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.section2>section> section:nth-child(2)>p:nth-child(1){
	font-size: 40px;
	color: var(--pink-dark);
	width:fit-content;
	padding-bottom: 20px;
}
.section2>section> section:nth-child(2)>p:nth-child(2){
	width: 330px;
	font-size: 17px;
}
.section2>section> section:nth-child(2)>p:nth-child(3){
	color: var(--pink);
	font-size: 22px;
	padding: 20px 0;
}
.section2>section> section:nth-child(2)>section{
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 20px;
	color: rgb(85, 85, 85);
}
.section2>section> section:nth-child(2)>section> div:nth-child(1){
	color: var(--pink);
	font-size: 25px;
}
/* Section 3 */
.section3{
	background-color: var(--drak-violet);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 0;
}
.section3 > h2{
	font-size: 50px;
	color: whitesmoke;
}
.section3 > p{
	color: gray;
	width: 600px;
	font-size: 15px;
	text-align: center;
}
.section3 > section{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding: 3% 10%;
}
.section3 > section > section{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: fit-content;
	border-radius: 50px;
	padding-left: 45%;
}
.section3 > section > section > section{
	width: 100%;
}
.section3 > section > section > section:nth-child(1){
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: whitesmoke;
	padding: 0 5%;
}
.section3 > section > section > section:nth-child(1) > img{
	filter: grayscale(100%);
	transition: .15s;
}
.section3 > section > section:hover > section:nth-child(1) img {
	filter: grayscale(0%);
}
.section3 > section > section > section:nth-child(1) > p{
	font-size: 20px;
	font-weight: bold;
}
.section3 > section > section > section:nth-child(2){
	background-color: var(--white-gray);
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 4% 5%;
}
.section3 > section > section > section:nth-child(2) > p:nth-child(1){
	font-size: 30px;
}
.section3 > section > section > section:nth-child(2) > p:nth-child(2){
	font-size: 40px;
}
.section3 > section > section > section:nth-child(2) > p:nth-child(3){
	font-size: 13px;
	font-weight: lighter;
}
.section3 > section > section > section:nth-child(3){
	display: flex;
	flex-direction: row;
	line-height: 45px;
	padding: 5% 5%;
	justify-content: start;
	background-color: whitesmoke;
	text-shadow: .5px .2px 1px black;
}
.section3 > section > section > section:nth-child(3)>div:nth-child(1){
	padding-right:10%;
	padding-left: 5%;
	font-size: 20px;
}
.section3 > section > section:hover p {
	color: var(--pink); 
}
